body{
    font-family: "Lato", sans-serif, serif;
    margin: 0;
    padding: 0;
}
.logo{
    height: 40px;
}
nav{
    background-color: black;
    color: white;
    padding: 20px 50px;

}
.navbarTop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}
.searchInput{
    border:none;
    background-color: transparent;
}
.searchInput::placeholder{
    color: lightgray;
}
.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}
.navbarBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem{
    margin-right: 25px;
    color: lightgray;
    cursor: pointer;
    font-weight: 400;
}
.slider{
    background: url("https://images.pexels.com/photos/2273488/pexels-photo-2273488.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 84%);
    overflow: hidden;
}
.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
}
.slideBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
    
}
.sliderImg{
    z-index: 1;
}
.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
    z-index: 1;
}
.sliderPrice{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    color: white;
    text-align: center;
    border: 1px solid gray;
    z-index: 1;
}
.buyButton{
    position: absolute;
    top: 50%;
    right:15%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    background-color: black;
    cursor: pointer;
    z-index: 1;
}
.buyButton:hover{
background-color: whitesmoke;
color: black;
}
.sliderItem:nth-child(1) .slideBg{
  background-color: rgb(53, 100, 231);
}
.sliderItem:nth-child(2) .slideBg{
    background-color: rgb(73, 224, 80);
  }
  .sliderItem:nth-child(3) .slideBg{
    background-color: rgb(231, 160, 53);
  }
  .sliderItem:nth-child(4) .slideBg{
    background-color: rgb(233, 255, 39);
  }
  .sliderItem:nth-child(5) .slideBg{
    background-color: rgb(85, 219, 213);
  }
       
  .features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }
  .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
.featureIcon{
    width: 50px;
    height: 50px;
}
.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
.featureDesc{
    color: gray;
    width: 50%;
    height: 100px;
}
.product{
    height:110vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
}
.productImg{
    width: 50%;
}
.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}
.productTitle{
    font-size: 75px;
    font-weight:900;
}
.productDesc{
    font-style: 24px;
    color:gray;
}
.colors,.sizes{
 display: flex;
 margin-bottom: 20px;
}
.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
}
.color:last-child{
    background-color: darkblue;
}
.size{
    padding: 5px 20px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}
.productButton{
    float: right;
    padding: 10px 20px ;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.productButton:hover{
    background-color: white;
    color: black;
}